{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
GoParty | Home
{% endblock %}

{% block navbar %}
<!-- Navbar 2 Starts -->
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>
    <div class="container-fluid d-flex">
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent1">
        <ul class="navbar-nav">
          {% for city in cities %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:bycity' city %}">{{ city }}</a>
          </li>
          {% endfor %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">City 2</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar 2 Ends -->

  <!-- Navbar 3 Starts -->
  <nav class="navbar navbar-expand-lg navbar-light col-12" style="background: url({% static 'searchbarbanner.png' %});">
    <div class="col-12">
      <div class="row-12">
        <h1 class="font-weight-bold d-flex justify-content-center m-1 p-1 text-white">Over 11 Restaurants in More than 1 City</h1>
      </div>
      <div class="row-12">
        <div class="input-group input-group-lg p-3 row-lg-12">
          <input type="text" aria-label="Search" placeholder="Search by city, state or neignbourhood" class="form-control col-lg-8" required />
          <button type="button" class="form-control btn btn-secondary col-lg-1"><i class="fa fa-location-arrow" aria-hidden="true"></i> Near Me</button>
          <input type="text" class="col-lg-2" placeholder="Start Date and Time" onfocus="(this.type='datetime-local')" onblur="if(this.value==''){this.type='text'}" required>
          <button type="submit" class="form-control btn btn-primary col-lg-2">Submit</button>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar 3 Ends -->
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<h1 class="font-weight-bold text-center">Featured Restaurants</h1>
  <div class="row ml-1" style="overflow-x: auto; flex-wrap: nowrap;">
      {% for restaurant in featureds %}
        <div class="card col-lg-3 col-md-4 col-sm-6 mx-1 p-0">
          {% with restaurant.restaurant.images.all|first as image %}
          <img class="card-img-top img-thumbnail" src="{{ image.image.url }}" alt="Card image cap" style="height: 19rem;">
          {% endwith %}
          
          <div class="card-body">
            <a href="{% url 'home:restaurant' restaurant.restaurant.name %}" class="card-title font-weight-bold">{{ restaurant.restaurant.name }}</a>
            <h5 class="font-weight-bold">₹{{ restaurant.restaurant.price }}</h5>
            <!-- <p class="card-text">{{ restaurant.restaurant.address }}</p> -->
            <!-- <p class="card-text font-weight-bold">Features: </p>
            <ul>
              {% if restaurant.restaurant.features.great_food %}
              <li class="card-text">Great Food</li>
              {% endif %}
              {% if restaurant.restaurant.features.satisfactory_staff %}
              <li class="card-text">Statisfactory Staff</li>
              {% endif %}
              {% if restaurant.restaurant.features.great_ambience %}
              <li class="card-text">Great Ambience</li>
              {% endif %}
              {% if restaurant.restaurant.features.good_service %}
              <li class="card-text">Good Service</li>
              {% endif %}
              {% if restaurant.restaurant.features.reasonable_cost %}
              <li class="card-text">Reasonable Cost</li>
              {% endif %}
              {% if restaurant.restaurant.features.hygiene_and_cleanliness %}
              <li class="card-text">Hygiene And Cleanliness</li>
              {% endif %}
            </ul> -->
          </div>
          <!-- <div class="card-footer">
            <p class="card-text"><small class="text-muted">Last Updated {{ restaurant.restaurant.edited }}</small></p>
          </div> -->
        </div>
      {% endfor %}
  </div>

<h1 class="font-weight-bold text-center">Restaurants</h1>
<!-- <div class="row ml-1" style="display: flex; overflow: auto; flex-wrap: nowrap;">
  {% for restaurant in restaurants %}
    <div class="card col-lg-3 col-md-4 col-sm-12 bg-dark text-white mr-1 mb-1 p-0">
      {% with restaurant.images.all|first as image %}
      <img class="card-img" src="{{ image.image.url }}" alt="Card image" style="height:17rem;">
      {% endwith %}
        <div class="card-img-overlay">
          <h5 class="card-title">
            <a href="{% url 'home:restaurant' restaurant.name %}" class="card-title font-weight-bold">{{ restaurant.name }}</a>
          </h5>
          <p class="card-text">₹{{ restaurant.price }}</p>
        </div>
    </div>
  {% endfor %}
</div> -->
<div class="row ml-1 mb-1" style="overflow-x: auto; flex-wrap: nowrap;">
  {% for restaurant in restaurants|slice:"0:6" %}
  <div class="bg-image hover-overlay ripple shadow-1-strong rounded col-lg-3 col-md-4 col-sm-12" data-mdb-ripple-color="light">
    {% with restaurant.images.all|first as image %}
    <img src="{{ image.image.url }}" alt="Louvre" style="height: 20rem; width: 100%;"/>
    {% endwith %}
    <a href="{% url 'home:restaurant' restaurant.name %}">
      <div class="mask text-center font-weight-bold" style="background-color: rgba(251, 251, 251, 0.2)"><h1>{{ restaurant.name }}</h1></div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
