{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>
      {% block title %}
      {% endblock %}
    </title>

    <!-- Nabvar 1 Starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
      <div class="mr-auto d-flex">
        <a class="navbar-brand font-weight-bold" href="{% url 'home:index' %}"><img src="{% static 'logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top"> GoParty</a>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
            class="fas fa-bars fa-1x"></i></span></button>
        </div>
      <div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link d-flex" href="#">
                <span class="material-icons">logout</span>
                <span class="justify-content-center">Logout</span>
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link d-flex" href="{% url 'home:login' %}">
                <span class="material-icons">login</span>
                <span class="justify-content-center">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex" href="{% url 'home:signup' %}">
                <span class="material-icons">edit</span>
                <span class="justify-content-center">Sign Up</span>
              </a>
            </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar 1 Ends -->

    <!-- MDB Import Starts -->
   <!-- Font Awesome -->
   <link
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
   rel="stylesheet"
   />
   <!-- Google Fonts -->
   <link
   href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
   rel="stylesheet"
   />
   <!-- MDB -->
   <link
   href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css"
   rel="stylesheet"
   />
       <!-- MDB Import Ends -->

    {% block navbar %}
    {% endblock %}

  </head>
  <body>
    {% block body %}
    {% endblock %}
    <!-- Footer Starts -->
    
<footer class="text-white text-center text-lg-start" style="background-color: rgb(13, 138, 96);">
  <nav class="nav navbar-nav">

    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">GoParty</h5>
  
          <p>
            Best Restaurants for Partying and renting at cheap rates for 2 Hours found here
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">City 1</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Restaurant 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">City 2</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Restaurant 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Restaurant 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="https://github.com/divyesh1099" target="new">Divyesh Vishwakarma</a>
    </div>
    <!-- Copyright -->
  </nav>
</footer>
    <!-- Footer Ends -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>